<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fametro - Sistema de Gestão de Itens Perdidos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header class="header-bg text-white text-center p-4">
        <img src="./image/990b03137098095.Y3JvcCwxMDgwLDg0NCwwLDExNw.png" alt="Logo Fametro" class="img-fluid mx-auto" style="max-height: 100px;">
        <h1 class="h3 mt-3">Sistema de Gestão de Itens Perdidos</h1>
    </header>

    <main class="container my-5 d-flex flex-column align-items-center">
        <h2 class="text-center mb-4">Gerenciamento de Itens </h2>

        <div class="text-center">
            <!-- Botão: Gerenciar Objetos Perdidos -->
            <section class="mt-4">
                <a href="gerenciar-objetos.html" class="btn btn-outline-success btn-lg btn-block" style="max-width: 400px;">
                    <i class="fas fa-search"></i> Gerenciar Objetos Perdidos
                </a>
            </section>

            <!-- Botão: Gerenciar Itens Devolvidos -->
            <section class="mt-4">
                <a href="gerenciar-itens-devolvidos.html" class="btn btn-outline-primary btn-lg btn-block" style="max-width: 400px;">
                    <i class="fas fa-handshake"></i> Gerenciar Itens Devolvidos
                </a>
            </section>
        </div>
    </main>

    <footer class="text-center p-4 header-bg text-white fixed-bottom">
        <p>&copy; 2024 Fametro. Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>